.head {
    text-align: center;
    color: green;
    font-size: 250%;
}

.score {
    color: white;
}

.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-image: url("jets.jpg");
    background-size: 50%;
}

body {
    background-image: url("islanders.jpg");
    background-size: 100%;
}

.grid div {
    height: 20px;
    width: 20px;
}

.tetromino {
    background-image: url("mets.webp");
    background-size: 50%;
}
